*{
    text-align: center;
}
.header{
    display: flex;
    background-color: cadetblue;
    align-items: center;
    
}
.header > .Link {
    flex: 0;
    padding: 2px;
    margin-left: auto;
    white-space: nowrap;
    /* margin-top: 0px;
    margin-bottom: 0px; */
}
.header > .logo {
    flex: 0;
    padding: 2px;
    margin-right: auto;
    white-space: nowrap;
     /* margin-top: 0px;
    margin-bottom: 0px; */
} 
.awesomeText {
    background-color: cadetblue;
    display: flex;
}
.awesomeText > .textStuffs {
    margin-right: auto;
}
.awesomeText > .imageStuff img{
    width: 200px;
    height: auto;
    border-radius: 14px;
}

.box{
    width: 150px;
    height: 150px;
    border: 4px solid cadetblue;
    border-radius: 14px;
    margin-bottom: 10px;
}
.randomInfo{
    background-color: rgb(125, 118, 109);
    padding: 12px;
    /* margin: 10px; */
    /* display: flex; */
    justify-content: center;
    gap: 25px;
}

.randomInfo >div{
    display: flex;
    margin: 10px;
    justify-content: center;
    gap :25px;
}
.randomInfo >div >div {
      display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px
}
.quoteBox {
    background-color: wheat;
    padding: 12px;
}
.quoteBox > .quoteText {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;    
}
    

.quoteBox > .author{
    display: block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    margin-right: 200px;
    margin-top: 10px;
    }
.actionBox {
    background-color: rgb(128, 114, 96);
    display: flex;
    margin:  30px;
    padding: 6px;
    align-items: center;
}
.actionBox > div {
    padding: 1px;
    /* align-items: center; */
}
.actionBox > div > .actionHeading {
    text-align: left;
}
.actionBox > .actionBtnStuffs{
    display: block;
    margin-left: auto;
    padding: 50px;
}

.footer{
    display: block;
    background-color: rgb(65, 58, 58);
    margin: 0px;
    padding: 2px;
    color: antiquewhite;
}
    
